{% extends "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ 'sync_mode' | trans({}, 'offline') | striptags | raw }}{% endblock %}

{% block breadcrumb %}
    {{
        macros.breadcrumbs([
            {
                'icon': 'icon-briefcase',
                'name': 'desktop'|trans({}, 'platform'),
                'href': path('claro_desktop_open')
            },
            {
                'name': 'claroline_offline_tool'|trans({}, 'tools'),
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block section_content %}
        {{ macros.flashBox() }}
        {% if msg %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ msg }}
            </div>
        {% endif %}
        <div class='panel panel-default'>
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'sync_mode_config'|trans({}, 'offline') }}</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="username">{{ 'sync_url'|trans({}, 'offline') }}</label>
                    <input type="text" class="form-control" id="username" name="_username" placeholder={{ url['url'] }} tabindex="1" autofocus>
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">{{ 'ok'|trans({}, 'platform') }}</button>
            </div>
        </div>
    
{% endblock %}
